{% extends 'base.html' %}

{% block title %}MP Important Links - CompHelp{% endblock title %}
{% block subjectActive %}active{% endblock subjectActive %}

{% block body %}
<div class="container my-3">
<div>
<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link" href="/microprocessors">Topics</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/microprocessors/notes">Notes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/microprocessors/mcqs">MCQs</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/microprocessors/links">Important Links</a>
  </li>
</ul>
</div>

<div class="d-grid gap-2 d-md-block">
    <h2 class="my-3 d-inline-block">All Important Links in Microprocessors</h2>
    <a href="/microprocessors/add-link" class="float-end mt-3 btn btn-primary">Add New Link</a>
  </div>
<hr>
{% for link in mplinks %}
<div class="card my-4">
  <h4 class="card-header">
    {{link.title}}
  </h4>
  <div class="card-body">
    <h5 class="card-title">{{link.short}}</h5>
    <a href="{{link.link}}" target="_blank" class="btn btn-primary">Visit Link</a>
  </div>
</div>
{% endfor %}
</div>
{% endblock body %}