{% extends 'base.html' %}

{% block title %}MP Notes - CompHelp{% endblock title %}
{% block subjectActive %}active{% endblock subjectActive %}

{% block body %}
<div class="container my-3">
<div>
<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link" href="/microprocessors">Topics</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/microprocessors/notes">Notes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/microprocessors/mcqs">MCQs</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/microprocessors/links">Important Links</a>
  </li>
</ul>
</div>

<div class="d-grid gap-2 d-md-block">
    <h2 class="my-3 d-inline-block">All Notes in Microprocessors</h2>
    <a href="/microprocessors/add-note" class="float-end mt-3 btn btn-primary">Add New Note</a>
  </div>
<hr>
{% for note in mpnotes %}
<div class="card my-4">
  <h4 class="card-header">
    {{note.title}}
  </h4>
  <div class="card-body">
    <h5 class="card-title">{{note.short}}</h5>
    <a href="/media/{{note.file}}" target="_blank" class="btn btn-primary">Download or View</a>
  </div>
  <div class="card-footer text-muted">
{{nopte.date}}</div>
</div>
{% endfor %}
</div>
{% endblock body %}