{% extends 'base.html' %}

{% block title %}DS - CompHelp{% endblock title %}
{% block subjectActive %}active{% endblock subjectActive %}

{% block body %}
<div class="container my-3">
<div>
<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link active" href="/data-structures">Topics</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/data-structures/notes">Notes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/data-structures/mcqs">MCQs</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/data-structures/links">Important Links</a>
  </li>
</ul>
</div>

<div class="d-grid gap-2 d-md-block">
    <h2 class="my-3 d-inline-block">All Topics in Data Structures</h2>
    <a href="/data-structures/add-topic" class="float-end mt-3 btn btn-primary">Add New Topic</a>
  </div>
<hr>
{% for dspost in dsposts %}
<div class="card my-4">
  <h4 class="card-header">
    {{dspost.title}}
  </h4>
  <div class="card-body">
    <h5 class="card-title">{{dspost.short}}</h5>
    <a href="/data-structures/{{dspost.slug}}" class="btn btn-primary">Read Complete Topic</a>
  </div>
  <div class="card-footer text-muted">
{{ dspost.date }}</div>
</div>
{% endfor %}
</div>
{% endblock body %}