{% extends 'base.html' %}

{% block title %}DS MCQS - CompHelp{% endblock title %}
{% block subjectActive %}active{% endblock subjectActive %}

{% block body %}

<div class="container my-3">
<div>
<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link" href="/data-structures">Topics</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/data-structures/notes">Notes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/data-structures/mcqs">MCQs</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/data-structures/links">Important Links</a>
  </li>
</ul>
</div>

<div class="d-grid gap-2 d-md-block">
    <h2 class="my-3 d-inline-block">All MCQS in Data Structures</h2>
    <a href="/data-structures/add-mcq" class="float-end mt-3 btn btn-primary">Add New MCQ</a>
  </div>
<hr>
{% for mcq in dsmcqs %}
  <div class="card my-4">
    <h4 class="card-header">
      {{mcq.question}}
    </h4>
    <div class="card-body">
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><b>Option 1 </b>{{mcq.option1}}</li>
        <li class="list-group-item"><b>Option 2 </b>{{mcq.option2}}</li>
        <li class="list-group-item"><b>Option 3 </b>{{mcq.option3}}</li>
        <li class="list-group-item"><b>Option 4 </b>{{mcq.option4}}</li>
      </ul>

      <p class="my-2">
        <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
          aria-controls="collapseExample">
          View Answer
        </a>
      </p>
      <div class="collapse" id="collapseExample">
        <div class="card card-footer">
          {{mcq.answer}}
        </div>
      </div>
    </div>
{% endfor %}

</div>
{% endblock body %}